.input {
  width: 4rem;
  padding-left: 1rem;
  padding-right: 1 rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-top: 2.5rem;
  font-size: large;
  border-color: blueviolet;
  border-width: thick;
}

.line:hover {
  stroke-width: 8;
}
